<form method="post" action="/logout">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Logout" />
</form>

<form method="get" action="/users/new">
  <input type="submit" value="Create Account" />
</form>
<form method="get" action="/sessions/new">
  <input type="submit" value="Sign In" />
</form>