<h1>Register as a new User</h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<form id="new_user_form" method="post" action="/users">
  <input type="text" name="user[email]" placeholder="email"/>
  <input type="text" name="user[username]" placeholder="user name"/>
  <input type="password" name="user[password]" placeholder="password"/>
  <input type="submit" value ="submit" />
</form>
